@use "@blueprintjs/core/lib/scss/variables" as bp;

.table {
    width: 100%;
    thead th {
        color: bp.$pt-text-color-disabled;
        font-size: bp.$pt-font-size-small;
    }
    tbody td {
        overflow: hidden;
        vertical-align: middle !important;
    }
    tbody td:nth-child(1) { /* Host */
        width: 200px;
    }
    tbody td:nth-child(2) { /* Label */
        width: 200px;
    }
    tbody td:nth-child(3) { /* Viewer */
        width: 150px;
    }
    tbody td:nth-child(5) { /* Actions */
        text-align: right;
    }
}