name = "mergeable-web"
compatibility_date = "2025-05-07"
compatibility_flags = ["nodejs_compat"]

# Expose on a custom domain, disable *.workers.dev domain.
# https://developers.cloudflare.com/workers/configuration/routing/
routes = [
  { pattern = "app.usemergeable.dev", custom_domain = true }
]
workers_dev = false

[assets]
directory = "./dist/client"
not_found_handling = "single-page-application"

[observability.logs]
enabled = true
invocation_logs = false