{
  "log": {
    "_recordingName": "should get pull",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "73055b5195ca9190b7ad5f4d1e351e32",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"query pull($id: ID!) {\\n      node(id: $id) {\\n        ... on PullRequest {\\n          number\\n          title\\n          repository {\\n            nameWithOwner\\n          }\\n          createdAt\\n          updatedAt\\n          state\\n          url\\n          isDraft\\n          closed\\n          merged\\n          reviewDecision\\n          additions\\n          deletions\\n          author {\\n            login\\n            avatarUrl                  \\n          }\\n          [...]
