@import "normalize.css/normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
@import "@blueprintjs/core/lib/scss/variables";

*:focus {
    outline: 0;
}

#root {
    width: 100%;
}

.bp5-dark {
    background-color: #2f343c;

    & table.bp5-html-table td, & table.bp5-html-table th, & span, & div, & p, & time {
        color: $light-gray5;
    }
    & a, & a:hover {
        color: $pt-dark-link-color;
      }
    & .bp5-tag:not([class*="bp5-intent-primary"])>span {
        color: $pt-text-color;
    }
    & .bp5-icon>svg {
        color: $light-gray5;
    }
}