@use "@blueprintjs/core/lib/scss/variables" as bp;

*:focus {
    outline: 0;
}

#root {
    width: 100%;
}

.bp5-dark {
    background-color: #2f343c;

    & table.bp5-html-table td, & table.bp5-html-table th, & span, & div, & p, & time {
        color: bp.$light-gray5;
    }
    & a, & a:hover {
        color: bp.$pt-dark-link-color;
    }
    & .bp5-icon>svg {
        color: bp.$light-gray5;
    }
}