# Logs
logs
*.log
pnpm-debug.log*

# deps
node_modules/
.wrangler/

# prod
build/
coverage/
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# macOS
.DS_Store

# Turbo
.turbo/

# Astro
.astro/

# env
.env.local
.env.production
.dev.vars