# Logs
logs
*.log
pnpm-debug.log*

node_modules
build/
coverage/
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Turbo
.turbo/

# Astro
.astro/