# Logs
logs
*.log
pnpm-debug.log*

# Typescript
*.tsbuildinfo
node_modules/
build/
coverage/
dist/
generated/

# Wrangler
.wrangler/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# macOS
.DS_Store

# Turbo
.turbo/

# Astro
.astro/

# env
.env.local
.env.*.local
.env.production
.dev.vars