@import "@blueprintjs/core/lib/scss/variables";

.table {
    width: 100%;
    thead th {
        color: $pt-text-color-disabled;
        font-size: $pt-font-size-small;
    }
    tbody td {
        overflow: hidden;
        vertical-align: middle !important;
    }
    tbody td:nth-child(1) { /* Star */
        text-align: center;
        width: 25px;
    }
    tbody td:nth-child(2) { /* Attention */
        text-align: center;
        width: 25px;
    }
    tbody td:nth-child(3) { /* Author */
        text-align: center;
        width: 50px;
    }
    tbody td:nth-child(4) { /* Status */
        text-align: center;
        width: 50px;
    }
    tbody td:nth-child(5) { /* Last Action */
        width: 200px;
    }
    tbody td:nth-child(6) { /* Size */
        text-align: center;
        width: 50px;
    }
}

.title {
    font-weight: 600;
}

.source {
    font-size: $pt-font-size-small;
}

.author img {
    border-radius: 5rem;
    height: 32px;
}

.additions {
    color: $green4;
}

.deletions {
    color: $red4;
}

.empty {
    color: $dark-gray5;
    margin: 0;
}