{
  "log": {
    "_recordingName": "should return viewer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "54671ab74f2172d274a21fca2cddffb2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1431,
            "text": "{\"login\":\"pvcnt\",\"id\":944506,\"node_id\":\"MDQ6VXNlcjk0NDUwNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/944506?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pvcnt\",\"html_url\":\"https://github.com/pvcnt\",\"followers_url\":\"https://api.github.com/users/pvcnt/followers\",\"following_url\":\"https://api.github.com/users/pvcnt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pvcnt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pvcnt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pvcnt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pvcnt/orgs\",\"repos_url\":\"https://api.github.com/users/pvcnt/repos\",\"events_url\":\"https://api.github.com/users/pvcnt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pvcnt/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Vincent Primault\",\"company\":\"Salesforce\",\"blog\":\"\",\"location\":\"Grenoble, France\",\"email\":null,\"hireable\":null,\"bio\":\"Software Engineer at Salesforce\",\"twitter_username\":null,\"notification_email\":null,\"public_repos\":13,\"public_gists\":1,\"followers\":11,\"following\":1,\"created_at\":\"2011-07-28T13:51:46Z\",\"updated_at\":\"2024-07-03T07:53:42Z\",\"private_gists\":0,\"total_private_repos\":15,\"owned_private_repos\":15,\"disk_usage\":230456,\"collaborators\":6,\"two_factor_authentication\":true,\"plan\":{\"name\":\"free\",\"space\":976562499,\"collaborators\":0,\"private_repos\":10000}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d65c98c34955e4485a19f3abecc6fea5d961acfa5a8bec7349a6e07a736f9400\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 03 Jul 2024 07:53:42 GMT"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-oauth-scopes",
              "value": "read:org, repo, user"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4980"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724685197"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "20"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 271,
      },
      {
        "_id": "8afdeae1a960456811207a71942c7040",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "per_page",
              "value": "100"
            }
          ],
          "url": "https://api.github.com/user/teams?per_page=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3366,
            "text": "[{\"name\":\"Developers\",\"id\":2213638,\"node_id\":\"MDQ6VGVhbTIyMTM2Mzg=\",\"slug\":\"developers\",\"description\":\"People contributing to developing software.\",\"privacy\":\"closed\",\"notification_setting\":\"notifications_enabled\",\"url\":\"https://api.github.com/organizations/17433683/team/2213638\",\"html_url\":\"https://github.com/orgs/privamov/teams/developers\",\"members_url\":\"https://api.github.com/organizations/17433683/team/2213638/members{/member}\",\"repositories_url\":\"https://api.github.com/organizations/17433683/team/2213638/repos\",\"permission\":\"pull\",\"created_at\":\"2016-12-14T10:47:38Z\",\"updated_at\":\"2016-12-14T10:47:38Z\",\"members_count\":3,\"repos_count\":2,\"organization\":{\"login\":\"privamov\",\"id\":17433683,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjE3NDMzNjgz\",\"url\":\"https://api.github.com/orgs/privamov\",\"repos_url\":\"https://api.github.com/orgs/privamov/repos\",\"events_url\":\"https://api.github.com/orgs/privamov/events\",\"hooks_url\":\"https://api.github.com/orgs/privamov/hooks\",\"issues_url\":\"https://api.github.com/orgs/privamov/issues\",\"members_url\":\"https://api.github.com/orgs/privamov/members{/member}\",\"public_members_url\":\"https://api.github.com/orgs/privamov/public_members{/member}\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/17433683?v=4\",\"description\":\"\",\"name\":\"Priva'Mov\",\"company\":null,\"blog\":\"https://privamov.liris.cnrs.fr/\",\"location\":\"Lyon, France\",\"email\":null,\"twitter_username\":null,\"is_verified\":false,\"has_organization_projects\":true,\"has_repository_projects\":true,\"public_repos\":3,\"public_gists\":0,\"followers\":0,\"following\":0,\"html_url\":\"https://github.com/privamov\",\"created_at\":\"2016-02-23T15:47:47Z\",\"updated_at\":\"2018-06-19T09:25:25Z\",\"archived_at\":null,\"type\":\"Organization\"},\"parent\":null},{\"name\":\"dev\",\"id\":10390132,\"node_id\":\"T_kwDOBxsAps4Anop0\",\"slug\":\"dev\",\"description\":\"\",\"privacy\":\"closed\",\"notification_setting\":\"notifications_enabled\",\"url\":\"https://api.github.com/organizations/119210150/team/10390132\",\"html_url\":\"https://github.com/orgs/graphme-app/teams/dev\",\"members_url\":\"https://api.github.com/organizations/119210150/team/10390132/members{/member}\",\"repositories_url\":\"https://api.github.com/organizations/119210150/team/1039[...]
