{
  "log": {
    "_recordingName": "should search pulls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c846a0d201e1dabdc9f8754d666de45e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "repo:pvcnt/sandbox type:pr archived:false"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ],
          "url": "https://api.github.com/search/issues?q=repo%3Apvcnt%2Fsandbox%20type%3Apr%20archived%3Afalse&sort=updated&per_page=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8795,
            "text": "{\"total_count\":3,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/3\",\"repository_url\":\"https://api.github.com/repos/pvcnt/sandbox\",\"labels_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/3/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/3/comments\",\"events_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/3/events\",\"html_url\":\"https://github.com/pvcnt/sandbox/pull/3\",\"id\":3031093190,\"node_id\":\"PR_kwDOMoYZC86UfoU-\",\"number\":3,\"title\":\"Test commits\",\"user\":{\"login\":\"pvcnt\",\"id\":944506,\"node_id\":\"MDQ6VXNlcjk0NDUwNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/944506?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pvcnt\",\"html_url\":\"https://github.com/pvcnt\",\"followers_url\":\"https://api.github.com/users/pvcnt/followers\",\"following_url\":\"https://api.github.com/users/pvcnt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pvcnt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pvcnt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pvcnt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pvcnt/orgs\",\"repos_url\":\"https://api.github.com/users/pvcnt/repos\",\"events_url\":\"https://api.github.com/users/pvcnt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pvcnt/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[{\"id\":7376295219,\"node_id\":\"LA_kwDOMoYZC88AAAABt6lVMw\",\"url\":\"https://api.github.com/repos/pvcnt/sandbox/labels/bug\",\"name\":\"bug\",\"color\":\"d73a4a\",\"default\":true,\"description\":\"Something isn't working\"}],\"state\":\"open\",\"locked\":false,\"assignee\":{\"login\":\"pvcnt\",\"id\":944506,\"node_id\":\"MDQ6VXNlcjk0NDUwNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/944506?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pvcnt\",\"html_url\":\"https://github.com/pvcnt\",\"followers_url\":\"https://api.github.com/users/pvcnt/followers\",\"following_url\":\"https://api.github.com/users/pvcnt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pvcnt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pvcnt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pvcnt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pvcnt/orgs\",\"repos_url\":\"https://api.github.com/users/pvcnt/repos\",\"events_url\":\"https://api.github.com/users/pvcnt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pvcnt/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"assignees\":[{\"login\":\"pvcnt\",\"id\":944506,\"node_id\":\"MDQ6VXNlcjk0NDUwNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/944506?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pvcnt\",\"html_url\":\"https://github.com/pvcnt\",\"followers_url\":\"https://api.github.com/users/pvcnt/followers\",\"following_url\":\"https://api.github.com/users/pvcnt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pvcnt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pvcnt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pvcnt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pvcnt/orgs\",\"repos_url\":\"https://api.github.com/users/pvcnt/repos\",\"events_url\":\"https://api.github.com/users/pvcnt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pvcnt/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false}],\"milestone\":null,\"comments\":1,\"created_at\":\"2025-04-30T12:12:00Z\",\"updated_at\":\"2025-04-30T19:17:30Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/pulls/3\",\"html_url\":\"https://github.com/pvcnt/sandbox/pull/3\",\"diff_url\":\"https://github.com/pvcnt/sandbox/pull/3.diff\",\"patch_url\":\"https://github.com/pvcnt/sandbox/pull/3.patch\",\"merged_at\":null},\"body\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/3/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/3/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"score\":1.0},{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/2\",\"repository_url\":\"https://api.github.com/repos/pvcnt/sandbox\",\"labels_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/2/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/2/comments\",\"events_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/2/events\",\"html_url\":\"https://github.com/pvcnt/sandbox/pull/2\",\"id\":3028911577,\"node_id\":\"PR_kwDOMoYZC86UYQCq\",\"number[...]
