{
  "log": {
    "_recordingName": "should search pulls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3b5142de41179440505774a0cf8ad895",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "repo:pvcnt/sandbox type:pr archived:false"
            },
            {
              "name": "sort",
              "value": "updated"
            },
            {
              "name": "per_page",
              "value": "50"
            }
          ],
          "url": "https://api.github.com/search/issues?q=repo%3Apvcnt%2Fsandbox%20type%3Apr%20archived%3Afalse&sort=updated&per_page=50"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2282,
            "text": "{\"total_count\":1,\"incomplete_results\":false,\"items\":[{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/1\",\"repository_url\":\"https://api.github.com/repos/pvcnt/sandbox\",\"labels_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/1/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/1/comments\",\"events_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/1/events\",\"html_url\":\"https://github.com/pvcnt/sandbox/pull/1\",\"id\":2486380328,\"node_id\":\"PR_kwDOMoYZC855afun\",\"number\":1,\"title\":\"Update README.md\",\"user\":{\"login\":\"pvcnt\",\"id\":944506,\"node_id\":\"MDQ6VXNlcjk0NDUwNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/944506?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pvcnt\",\"html_url\":\"https://github.com/pvcnt\",\"followers_url\":\"https://api.github.com/users/pvcnt/followers\",\"following_url\":\"https://api.github.com/users/pvcnt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pvcnt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pvcnt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pvcnt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pvcnt/orgs\",\"repos_url\":\"https://api.github.com/users/pvcnt/repos\",\"events_url\":\"https://api.github.com/users/pvcnt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pvcnt/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":2,\"created_at\":\"2024-08-26T09:21:33Z\",\"updated_at\":\"2024-08-27T13:45:07Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"draft\":false,\"pull_request\":{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/pulls/1\",\"html_url\":\"https://github.com/pvcnt/sandbox/pull/1\",\"diff_url\":\"https://github.com/pvcnt/sandbox/pull/1.diff\",\"patch_url\":\"https://github.com/pvcnt/sandbox/pull/1.patch\",\"merged_at\":null},\"body\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/1/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/pvcnt/sandbox/issues/1/timeline\",\"performed_via_github_app\":null,\"state_reason\":null,\"score\":1.0}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-oauth-scopes",
              "value": "read:org, repo, user"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "30"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "29"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1724768004"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "search"
            },
            {
              "name": "x-ratelimit-used",
              "value": "1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 293,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
