{
  "log": {
    "_recordingName": "should search pulls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8e34e6a346fd5f0a142ed26cd721e2ca",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"query dashboard($search: String!) {\\n        search(query: $search, type: ISSUE, first: 50) {\\n          issueCount\\n          edges {\\n            node {\\n              ... on PullRequest {\\n                id\\n                number\\n                title\\n                author {\\n                  login\\n                  avatarUrl                  \\n                }\\n                statusCheckRollup {\\n                  state\\n                }\\n                reviewReq[...]
