{
  "log": {
    "_recordingName": "should search pulls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "edd70392fbe1a9341ecd087910f7ffb5",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n    query search($q: String!, $limit: Int!) {\\n  search(query: $q, type: ISSUE, first: $limit) {\\n    issueCount\\n    edges {\\n      node {\\n        __typename\\n        ... on PullRequest {\\n          id\\n          number\\n          title\\n          body\\n          createdAt\\n          updatedAt\\n          mergedAt\\n          closedAt\\n          state\\n          url\\n          isDraft\\n          locked\\n          closed\\n          merged\\n          reviewDecision\\n    [...]
