{
  "log": {
    "_recordingName": "should error when pull does not exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5b72821eb2f81f697bd028a11d810b84",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"\\n    query pull($owner: String!, $repo: String!, $number: Int!) {\\n  repository(owner: $owner, name: $repo) {\\n    pullRequest(number: $number) {\\n      id\\n      number\\n      title\\n      repository {\\n        nameWithOwner\\n      }\\n      createdAt\\n      updatedAt\\n      state\\n      url\\n      isDraft\\n      closed\\n      merged\\n      reviewDecision\\n      additions\\n      deletions\\n      author {\\n        __typename\\n        login\\n        avatarUrl\\n      }\\n[...]
