name: Test

on:
  pull_request: ~
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.5.0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Install dependencies
        run: pnpm install
      - name: Test
        run: env && echo $POLLY_MODE && pnpm typecheck && pnpm lint && pnpm coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          POLLY_MODE: offline
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
